In [ ]:
!pip install python-jobspy==1.1.82 -q

In [1]:
import pandas as pd
from jobspy import scrape_jobs

# 1. Define your search
jobs = scrape_jobs(
    site_name=["linkedin"],           # Can also add ["indeed", "glassdoor"]
    search_term="Data Engineer",
    location="Remote",
    results_wanted=1000,                # Number of jobs to fetch
    hours_old=72,                     # Only fetch jobs posted in last 3 days
    linkedin_fetch_description=True,
    
)

# 2. Check if jobs were found
print(f"Found {len(jobs)} jobs")

jobs

2026-01-23 15:20:06,919 - INFO - JobSpy:Linkedin - finished scraping

Found 139 jobs

,id,site,job_url,job_url_direct,title,company,location,date_posted,job_type,salary_source,...,company_addresses,company_num_employees,company_revenue,company_description,skills,experience_range,company_rating,company_reviews_count,vacancy_count,work_from_home_type
0,li-4365235454,linkedin,https://www.linkedin.com/jobs/view/4365235454,NaN,Senior Data Engineer - Data Science,LinkedIn,"Mountain View, CA",2026-01-22,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
1,li-4326563714,linkedin,https://www.linkedin.com/jobs/view/4326563714,NaN,Data Engineer,Kobie,"Bengaluru, Karnataka, India",2026-01-22,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
2,li-4329618710,linkedin,https://www.linkedin.com/jobs/view/4329618710,NaN,Data Engineer,hackajob,"London, England, UK",2026-01-22,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
3,li-4350839863,linkedin,https://www.linkedin.com/jobs/view/4350839863,https://lazard-careers.tal.net/vx/lang-en-GB/m...,Data Engineer,Lazard,"New York, United States",2026-01-22,fulltime,description,...,None,None,None,None,None,None,None,None,None,None
4,li-4364661991,linkedin,https://www.linkedin.com/jobs/view/4364661991,NaN,Senior Data Engineer,WRK digital,"Leeds, England, UK",2026-01-22,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,li-4365468375,linkedin,https://www.linkedin.com/jobs/view/4365468375,NaN,Frontend Software Engineer (Web),YouTrip,"Chennai, Tamil Nadu, India",NaN,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
135,li-4365504262,linkedin,https://www.linkedin.com/jobs/view/4365504262,NaN,Data Analytics Engineer,ISITE TECHNOLOGIES,"New York, United States",NaN,contract,NaN,...,None,None,None,None,None,None,None,None,None,None
136,li-4363492091,linkedin,https://www.linkedin.com/jobs/view/4363492091,NaN,Data Engineer,Helius Technologies,"Hyderabad, Telangana, India",NaN,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
137,li-4362690169,linkedin,https://www.linkedin.com/jobs/view/4362690169,NaN,Data & AI Engineer,Tata Consultancy Services,"Bellevue, WA",NaN,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None
138,li-4355380609,linkedin,https://www.linkedin.com/jobs/view/4355380609,https://www.stepstone.de/job/13300682/applicat...,DATA ENGINEER (m/w/d),hygi.de GmbH & Co. KG,"Telgte, North Rhine-Westphalia, Germany",NaN,fulltime,NaN,...,None,None,None,None,None,None,None,None,None,None

In [2]:
import csv

jobs.to_csv("jobs.csv", quoting=csv.QUOTE_NONNUMERIC, escapechar="\\", index=False) # to_excel

In [3]:
jobs.columns

Index(['id', 'site', 'job_url', 'job_url_direct', 'title', 'company',
       'location', 'date_posted', 'job_type', 'salary_source', 'interval',
       'min_amount', 'max_amount', 'currency', 'is_remote', 'job_level',
       'job_function', 'listing_type', 'emails', 'description',
       'company_industry', 'company_url', 'company_logo', 'company_url_direct',
       'company_addresses', 'company_num_employees', 'company_revenue',
       'company_description', 'skills', 'experience_range', 'company_rating',
       'company_reviews_count', 'vacancy_count', 'work_from_home_type'],
      dtype='object')

In [5]:
jobs[["id", "company_industry", "job_url", "title", "company", "location", "description", "job_function"]]

,id,company_industry,job_url,title,company,location,description,job_function
0,li-4365235454,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/4365235454,Senior Data Engineer - Data Science,LinkedIn,"Mountain View, CA",**Company Description**\n LinkedIn is the worl...,Engineering
1,li-4326563714,Marketing Services,https://www.linkedin.com/jobs/view/4326563714,Data Engineer,Kobie,"Bengaluru, Karnataka, India",**Join our India Tech Hub – Be among the first...,Information Technology
2,li-4329618710,Software Development,https://www.linkedin.com/jobs/view/4329618710,Data Engineer,hackajob,"London, England, UK",***hackajob** \n is collaborating with\n **Vit...,Information Technology
3,li-4350839863,Financial Services,https://www.linkedin.com/jobs/view/4350839863,Data Engineer,Lazard,"New York, United States",Americas\n \n\n \n\n Corporate\n \n\n \n...,Information Technology
4,li-4364661991,"Staffing and Recruiting, IT System Data Servic...",https://www.linkedin.com/jobs/view/4364661991,Senior Data Engineer,WRK digital,"Leeds, England, UK",**\*Senior Data Engineer\*** \n\n\n\n\n \n\n\...,Information Technology
...,...,...,...,...,...,...,...,...
134,li-4365468375,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/4365468375,Frontend Software Engineer (Web),YouTrip,"Chennai, Tamil Nadu, India",YouTrip is the leading and fastest\-growing mu...,Other
135,li-4365504262,Software Development,https://www.linkedin.com/jobs/view/4365504262,Data Analytics Engineer,ISITE TECHNOLOGIES,"New York, United States",Job Role: Data Analyst engineer\n \n\n\n\n Loc...,Engineering
136,li-4363492091,"IT Services and IT Consulting, Technology, Inf...",https://www.linkedin.com/jobs/view/4363492091,Data Engineer,Helius Technologies,"Hyderabad, Telangana, India",**Please note role requires strictly working f...,Information Technology
137,li-4362690169,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/4362690169,Data & AI Engineer,Tata Consultancy Services,"Bellevue, WA",**Job Description**\n**Must Have Technical/Fun...,Engineering and Information Technology
138,li-4355380609,Data Infrastructure and Analytics,https://www.linkedin.com/jobs/view/4355380609,DATA ENGINEER (m/w/d),hygi.de GmbH & Co. KG,"Telgte, North Rhine-Westphalia, Germany",**Deine Leidenschaft sind Daten? Du kannst sie...,Information Technology

In [6]:
jobs[["company_industry", "location"]]

,company_industry,location
0,"Technology, Information and Internet","Mountain View, CA"
1,Marketing Services,"Bengaluru, Karnataka, India"
2,Software Development,"London, England, UK"
3,Financial Services,"New York, United States"
4,"Staffing and Recruiting, IT System Data Servic...","Leeds, England, UK"
...,...,...
134,IT Services and IT Consulting,"Chennai, Tamil Nadu, India"
135,Software Development,"New York, United States"
136,"IT Services and IT Consulting, Technology, Inf...","Hyderabad, Telangana, India"
137,IT Services and IT Consulting,"Bellevue, WA"
138,Data Infrastructure and Analytics,"Telgte, North Rhine-Westphalia, Germany"

In [15]:
jobs.shape

(139, 34)

In [2]:
import pandas as pd

jobs = pd.read_csv("jobs.csv", escapechar="\\")
jobs

,id,site,job_url,job_url_direct,title,company,location,date_posted,job_type,salary_source,...,company_addresses,company_num_employees,company_revenue,company_description,skills,experience_range,company_rating,company_reviews_count,vacancy_count,work_from_home_type
0,li-4365235454,linkedin,https://www.linkedin.com/jobs/view/4365235454,NaN,Senior Data Engineer - Data Science,LinkedIn,"Mountain View, CA",2026-01-22,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,li-4326563714,linkedin,https://www.linkedin.com/jobs/view/4326563714,NaN,Data Engineer,Kobie,"Bengaluru, Karnataka, India",2026-01-22,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,li-4329618710,linkedin,https://www.linkedin.com/jobs/view/4329618710,NaN,Data Engineer,hackajob,"London, England, UK",2026-01-22,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,li-4350839863,linkedin,https://www.linkedin.com/jobs/view/4350839863,https://lazard-careers.tal.net/vx/lang-en-GB/m...,Data Engineer,Lazard,"New York, United States",2026-01-22,fulltime,description,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,li-4364661991,linkedin,https://www.linkedin.com/jobs/view/4364661991,NaN,Senior Data Engineer,WRK digital,"Leeds, England, UK",2026-01-22,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,li-4365468375,linkedin,https://www.linkedin.com/jobs/view/4365468375,NaN,Frontend Software Engineer (Web),YouTrip,"Chennai, Tamil Nadu, India",NaN,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,li-4365504262,linkedin,https://www.linkedin.com/jobs/view/4365504262,NaN,Data Analytics Engineer,ISITE TECHNOLOGIES,"New York, United States",NaN,contract,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,li-4363492091,linkedin,https://www.linkedin.com/jobs/view/4363492091,NaN,Data Engineer,Helius Technologies,"Hyderabad, Telangana, India",NaN,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,li-4362690169,linkedin,https://www.linkedin.com/jobs/view/4362690169,NaN,Data & AI Engineer,Tata Consultancy Services,"Bellevue, WA",NaN,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,li-4355380609,linkedin,https://www.linkedin.com/jobs/view/4355380609,https://www.stepstone.de/job/13300682/applicat...,DATA ENGINEER (m/w/d),hygi.de GmbH & Co. KG,"Telgte, North Rhine-Westphalia, Germany",NaN,fulltime,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd
import re

us_states = (
    r"\b(?:AL|AK|AZ|AR|CA|CO|CT|DE|FL|GA|HI|ID|IL|IN|IA|KS|KY|LA|ME|MD|MA|MI|MN|MS|MO|MT|"
    r"NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PA|RI|SC|SD|TN|TX|UT|VT|VA|WA|WV|WI|WY)\b"
)

mask_not_staffing = ~jobs["company_industry"].str.contains(
    "Staffing|Recruiting", case=False, na=False
)

mask_uk = jobs["location"].str.contains(
    r"\bUK\b|United Kingdom|England|Scotland|Wales", case=False, na=False
)

mask_us = (
    jobs["location"].str.contains("United States|USA|US", case=False, na=False)
    | jobs["location"].str.contains(us_states, regex=True, na=False)
)

filtered_df = jobs[mask_not_staffing & (mask_uk | mask_us)]
filtered_df[["id", "company_industry", "job_url", "title", "company", "location", "description", "job_function"]].head()

,id,company_industry,job_url,title,company,location,description,job_function
0,li-4365235454,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/4365235454,Senior Data Engineer - Data Science,LinkedIn,"Mountain View, CA",**Company Description**\n LinkedIn is the worl...,Engineering
2,li-4329618710,Software Development,https://www.linkedin.com/jobs/view/4329618710,Data Engineer,hackajob,"London, England, UK",***hackajob** \n is collaborating with\n **Vit...,Information Technology
3,li-4350839863,Financial Services,https://www.linkedin.com/jobs/view/4350839863,Data Engineer,Lazard,"New York, United States",Americas\n \n\n \n\n Corporate\n \n\n \n...,Information Technology
7,li-4362614977,"IT Services and IT Consulting, Airlines and Av...",https://www.linkedin.com/jobs/view/4362614977,Data Engineer,Coforge,"Waterside, England, UK",* **Job:** \n Data Engineer\n* **Key skills:**...,Engineering and Analyst
9,li-4348710611,Financial Services,https://www.linkedin.com/jobs/view/4348710611,Data Engineer,Tyro Payments,"Sydney, New South Wales, Australia","**Why Tyro?**\n At Tyro, we’re into business b...",Information Technology

In [4]:
filtered_df.shape

(70, 34)

In [5]:
df = filtered_df[["id", "title", "description"]]
df.head()

,id,title,description
0,li-4365235454,Senior Data Engineer - Data Science,**Company Description**\n LinkedIn is the worl...
2,li-4329618710,Data Engineer,***hackajob** \n is collaborating with\n **Vit...
3,li-4350839863,Data Engineer,Americas\n \n\n \n\n Corporate\n \n\n \n...
7,li-4362614977,Data Engineer,* **Job:** \n Data Engineer\n* **Key skills:**...
9,li-4348710611,Data Engineer,"**Why Tyro?**\n At Tyro, we’re into business b..."